
{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    <br>
<br>
<br>
<h3 style="text-align: center">Examples</h3>
{% endblock %}

{% block content %}

    <!-- {% include Constants.instructions_template %}-->





    <div style="text-align:center">
    <img src="{% static "ravens/example.png" %}"/ width="1000" height="350">
    </div>

<br/>
    <div style="text-align:center">
        <p > These are not counted towards your earnings.<br>
Please raise your hand if you have questions. </p>

    {% next_button %}
    </div>

{% endblock %}
