{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
<h3 style="text-align: center">Examples</h3>
{% endblock %}

{% block content %}

    <!-- {% include Constants.instructions_template %}-->


    <br/>


    <div style="text-align:center">
    <img src="{% static "ravens/example.png" %}"/ width="900" height="350">
    </div>

<br/>
    <div style="text-align:center">
        <p > Click next to start solving the problems. </p>

    {% next_button %}
    </div>

{% endblock %}
