{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
<br>
<h3 style="text-align: center">Task 3: Matrix Reasoning</h3></br>
<h4 style="text-align: center">General Instructions</h4>
{% endblock %}

{% block content %}

    <!-- {% include Constants.instructions_template %}-->


    <br/>


    <div style="text-align:center">
    <p>You will be given a matrix with each square filled with a pattern, except the lower bottom square. You will also be given multiple
choices of patterns below. Your task is to find the most ideal match from the options to complete the pattern in the matrix. There will
be 8 such matrices in separate pages, of 3X3. The total time given to you to complete the task is 5 minutes. If this game is chosen for
payoff, you will receive 1 token for accurate answers in each easy level questions, 2 tokens for each moderate level questions and 4

tokens for advanced questions. Completion of all the matrices in the given time is worth one additional token

A sample is given to you in the following screens.

Please raise your hands if you have any questions or otherwise, please click NEXT to continue</p>
    </div>

<br/>
    <div style="text-align:center">


    {% next_button %}
    </div>

{% endblock %}
