
{% extends "global/Page.html" %}
{% load staticfiles otree %}
<br>
<br>
<br>
{% block title %}
<br>
<br/>
<h4 style="text-align: center"></h4>
{% endblock %}

{% block content %}

    <!-- {% include Constants.instructions_template %}-->


    <br/>


    <div style="text-align:center">
    <p>This concludes Game 3.<br>

Please wait for the experimenter to come and take you to your mini break session. You will be brought back into this room by the

experimenter at the end of the given time.</p>
    </div>

<br/>
    <div style="text-align:center">

    </div>

{% endblock %}
