<br>
<br>
<br>
{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
<h4>Question {{ player.round_number }} of {{ Constants.num_rounds }} </h4>
{% endblock %}


{% block content %}
    <p></p>

    <!-- {% include Constants.instructions_template %}-->

    {#    <div style="text-align:center">#}
     <!--<img src="{% static image_path %}" height="450" width="420"/>-->
    <img src="{% static image_path %}" height="400" width="380"/>
{#    <img src="{% static "ravens/example.jpg" %}"/>#}
    {#    </div>#}

    {#    <div class="form-group required">#}
    {% formfield player.answer label='Please choose an item that best fits the pattern:' %}
    {#    </div>#}

    {#   <div style="text-align:right">#}
    {% next_button %}
    {#    </div>#}
{% endblock %}
