<br>
<br>
<br>
{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
<h3 style="text-align: center">Example</h3>
{% endblock %}

{% block content %}

    <div style="text-align:center">
    <img src="{% static "ravens/stree_example.jpg" %}"/ width="800" height="350">
    </div>


    <div style="text-align:center">
        <p > These are not counted towards your earnings.<br>
Please raise your hand if you have questions. </p>

    {% next_button %}
    </div>

{% endblock %}
